body {
  font-family: Sintony,Arial,sans-serif;
}

#scores__list,
.scores__list-item,
.scores__status-state,
.team-container {
  display: flex;
}

.scores__wrapper {
  position: absolute;
  top: 0;
  left: 0;
}

#scores__list {
  justify-content: space-around;
}

.scores__list-item {
  flex-direction: row;
  min-width: 153px;
  padding: 0 13px;
  justify-content: space-between;
  border-right: 1px solid grey;
}

.scores__panel {
  flex-direction: column;
}

.team-container {
  flex-direction: row;
  margin-bottom: 12px;
}

.scores__status-state {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}

.team-abbr {
  margin: 0 10px;
}
